"*":
  core:
    audioBeep: false
    disabledPackages: [
      "wrap-guide"
      "ex-mode"
      "vim-mode"
      "whitespace"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    useCustomTitleBar: true
  editor:
    invisibles: {}
    preferredLineLength: 55
    showIndentGuide: true
    softTabs: false
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "1aca6eca-0802-b5a6-e021-46265ce481f3"
  "japanese-wrap":
    characterWidth: {}
  metrics:
    userId: "124e1c30e94c4e8550ccb146ac3c8758e6cc9529"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.tex.latex"
    ]
  welcome:
    showOnStartup: false
  wordcount:
    alwaysOn: true
